<h1>Editing Audit Count</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @audit_count, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', audit_counts_path, class: "btn btn-default" %>

