
<row class="row is-table-row" >

  <div class="col-sm-2 ">
    <h4>Listing Audit Counts</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :process_step_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

</row>


# test index

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Uppername</th>
    </tr>
  </thead>
  <tbody>
    <% @acounts.each do |a1| %>
      <tr>
        <td><%= a1.name %></td>
        <td><%= a1.upname %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
