<h1>Editing Question List</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @question_list, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', question_lists_path, class: "btn btn-default" %>

