<h1>Editing Pp Parkingpass</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @pp_parkingpass, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', pp_parkingpasses_path, class: "btn btn-default" %>

