<h1>Editing Dc Stream</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @dc_stream, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', dc_streams_path, class: "btn btn-default" %>

