<h1>Morning Meeting Issues List</h1>

<p>1.</p>
<p>Instructions are located at:</p>

<p><a href="S:\Production\Common\Morning%20Meeting\MorningMeetingIssues-app\instructions_morningmeeting_app.pptx" target="_blank" >S:\Production\Common\Morning Meeting\MorningMeetingIssues-app\instructions_morningmeeting_app.pptx</a></p>
<p>&nbsp;</p>

<p>2.</p>
<p>Open Issues Excel Download:</p>

<p><a href="http://pmdsdata.stackpole.ca/prod367b/index.php?-table=morning_meetings&-action=mm_openissues_rpt" target="_blank" >http://pmdsdata.stackpole.ca/prod367b/index.php?-table=morning_meetings&-action=mm_openissues_rpt</a></p>
<p>This report is sorted by REVIEW order: Department / Created_at - Oldest first.</p>
<p>&nbsp;</p>

<p>3.</p>
This menu button at the top of the screen  - "MorningMeetingIssues--Open" is sorted by REVIEW order: Department / Created_at - Oldest first.
<p>&nbsp;</p>

<p>4.</p>
This menu button at the top of the screen  - "MorningMeetingIssues--PRIORITY" is sorted:  Priority / NotRunning / Created_at - Newest first
<p>&nbsp;</p>
