<h1>Morning Meeting Issues List</h1>

<p>1.&nbsp;<strong>Instructions are located at:</strong></p>

<p><a href="S:\Production\Common\Morning%20Meeting\MorningMeetingIssues-app\instructions_morningmeeting_app.pptx" target="_blank" ">S:\Production\Common\Morning Meeting\MorningMeetingIssues-app\instructions_morningmeeting_app.pptx</a></p>
<p>&nbsp;</p>

<p>2.&nbsp;<strong>Open Issues Excel Download:</strong></p>

<p><a href="http://pmdsdata.stackpole.ca/prod367b/index.php?-table=morning_meetings&amp;-action=mm_openissues_rpt_nologin" target="_blank" ">http://pmdsdata.stackpole.ca/prod367b/index.php?-table=morning_meetings&amp;-action=mm_openissues_rpt_nologin</a></p>
<p>This report is sorted by REVIEW order: Department / Created_at - Oldest first.</p>
<p>&nbsp;</p>

<p>3.&nbsp;<strong>Default Sorts:</strong></p>

<ul style="list-style-type: circle;">
<li>There are a few different sort orders depending on the screen/report. <br />Sorts can be changed from the default after the view/report has loaded.</li>
<li><span style="color: #339966;">REVIEW order: Department / Created_at - Oldest first.</span></li>
<li><span style="color: #3366ff;">PRIORITY order: Priority / NotRunning / Created_at - Newest first</span></li>
</ul>
<ul style="list-style-type: disc;">
<li>&nbsp;This menu button at the top of the screen - "MorningMeetingIssues--Open" is sorted by REVIEW order: Department / Created_at - Oldest first.</li>
<li>&nbsp;This menu button at the top of the screen - "MorningMeetingIssues--ToReview" is sorted by REVIEW order</li>
<li>&nbsp;This menu button at the top of the screen - "MorningMeetingIssues--PRIORITY" is sorted: Priority / NotRunning / Created_at - Newest first</li></ul>
<p>&nbsp;</p>

