<h3>Morning Meeting Issues List</h3>

<p>1.&nbsp;<strong>Instructions are located at:</strong></p>

<p><a href="S:\Production\Common\Morning%20Meeting\MorningMeetingIssues-app\instructions_morningmeeting_app.pptx" target="_blank" ">S:\Production\Common\Morning Meeting\MorningMeetingIssues-app\instructions_morningmeeting_app.pptx</a></p>
<p>&nbsp;</p>

<p>2.&nbsp;<strong>Open Issues Excel Download:</strong></p>

<p><a href="http://pmdsdata.stackpole.ca/prod367b/index.php?-table=morning_meetings&amp;-action=mm_openissues_rpt_nologin" target="_blank" ">http://pmdsdata.stackpole.ca/prod367b/index.php?-table=morning_meetings&amp;-action=mm_openissues_rpt_nologin</a></p>
<p>This report is sorted by REVIEW order: Department / Created_at - Oldest first.</p>
<p>&nbsp;</p>

<p>3.&nbsp;<strong>Default Sorts:</strong></p>

<ul style="list-style-type: circle;">
<li>There are a few different sort orders depending on the screen/report. <br />Sorts can be changed from the default after the view/report has loaded.</li>
<li><span style="color: #339966;">REVIEW order: Department / Created_at - Oldest first.</span></li>
<li><span style="color: #3366ff;">PRIORITY order: Priority / NotRunning / Created_at - Newest first</span></li>
</ul>
<ul style="list-style-type: disc;">
<li>&nbsp;This menu button at the top of the screen - "MorningMeetingIssues--Open" is sorted by REVIEW order: Department / Created_at - Oldest first.</li>
<li>&nbsp;This menu button at the top of the screen - "MorningMeetingIssues--ToReview" is sorted by REVIEW order</li>
<li>&nbsp;This menu button at the top of the screen - "MorningMeetingIssues--PRIORITY" is sorted: Priority / NotRunning / Created_at - Newest first</li></ul>
<p>&nbsp;</p>

<p>4.&nbsp;<strong>Blue search button:</strong></p>

<ul>
<li><span style="color: #333333;">The <span style="color: #3366ff;">blue search</span> <span style="color: #ff00ff;">button</span> causes all records to be shown from <span style="color: #ff6600;">all history</span> that matches the search. The order is: <span style="color: #ff0000;">Open Items / Created_at - Newest first</span>.</span>
The idea is that `Open & newest` items are shown first.
</li>
</ul>
<p>&nbsp;</p>

<p>5.&nbsp;<strong>The Review Process:</strong></p>

The review process is typically a meeting where each item is viewed and updated based on discussion.

<ul>
<li><span style="color: #333333;">At the start of the meeting, Press the `Reset Reviewed` button in the top right corner.</li>
<li>This causes all open items to be visible in the `review` screens {the A, B, C, all review screens}.</li>
<li>Review the first item in the list.</li>
<li>Press the edit button and type any updates. Even if there are no updates, press the `Update morning meeting` button.</li>
<li>Because the `Reviewed mark` is checked by default, that causes the item to disappear from the review list.</li>
<li>Keep reviewing each item until the list is empty.</li>
<li>There is no need to press `reset reviewed` for each priority - A B C. Just press it once at the start of the meeting.</li>
</ul>

<p>&nbsp;</p>


