<h2>Pick a Part/Process Step to audit from this list.</h2>
<h4> Choose one that hasn't been done recently.</h4>

<p>Audit count in the last 90 days.</p>


<!-- 

In metabase
- open the question - Count Audits By Operation - LPA
- pick sharing and embedding
- under public embed
- copy the url
- it is pasted here.

2017-10-13_Fri_17.43-PM David Gleba

 -->


<iframe
    src="http://pmdsdata:2012/public/question/014d877b-4912-4510-8bef-61e75910a723"
    frameborder="0"
    width="600"
    height="800"
    allowtransparency
></iframe>
