<h1>Editing Answer</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @answer, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', answers_path, class: "btn btn-default" %>

