<h1>Editing Stf Employee</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @stf_employee, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', stf_employees_path, class: "btn btn-default" %>

