<h1>Editing Dc Level</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @dc_level, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', dc_levels_path, class: "btn btn-default" %>

