<div class="item">
  <div class="well well-compact">
      <div class="card-block">
        <p> <%= link_to "Take LPA", survey_path(survey), class: "btn btn-info" %>  
        <%= survey.title %>  
        <%#= link_to 'Edit', edit_survey_path(survey), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> </p>
      </div>
      
  </div>      
</div>
