<h4>Editing Morning Meeting</h4>

<%= render 'form' %>
<br>
<%= link_to 'Show', @morning_meeting, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', morning_meetings_path, class: "btn btn-default" %>

