<p>&nbsp;</p>
<h3 style="color:blue;">Set all MorningMeeting issues reviewed_mark to the number Zero(0) </h3>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="color:green;font-size:300%">Reset button was pressed</p>

