<h1>Editing Dc Discipline</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @dc_discipline, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', dc_disciplines_path, class: "btn btn-default" %>

